body{
    background-color: #f0f0f0;
}

.navbar{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 10px;
    padding: 40px;
    font-size: x-large;
    background-color: #262222;
}

.nav-link{
    transition: color 0.3s; 
    color: #f0f0f0;
}

.navbar-brand{
    color: #f0f0f0;
    font-size: x-large;
}

.nav-link:hover{
    color: #00FF90;
}

.navbar-brand:hover{
    transition: none;
    color: #f0f0f0;
}

footer{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    font-size: large;
    background-color: #262222;
    color: #f0f0f0;
}

figure{
    margin-left: 15px;
    margin-right: 15px;
    
}

.cardtext{
    font-size: xx-large;
    text-align: end;
}

.card{
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}


figure img{
    border-radius: 15px;
}


.contact-button{
    background-color: #262222;
    color: #f0f0f0;
}

.contact-button:hover{
    background-color: #00FF90;
    color: #f0f0f0;
}


.fake-iframe{
    max-width: 900px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactform{
    margin-top: 100px;
    margin-bottom: 100px;
}

.form-group{
    margin-top: 20px;
}

.verzenden-contact-button{
    margin-top: 20px;
    background-color: #262222;
    color: #f0f0f0;
}

.verzenden-contact-button:hover{
    margin-top: 20px;
    background-color: #00FF90;
    color: #f0f0f0;
}

.form-control {
    color: #262222;
    border-width: 2px; 
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img{
    border-radius: 15px;
}


.toptext h1{
    font-size: 50px;
}

.cvh2{
    color: #20e08d;
    margin-top: 40px;
    margin-bottom: 20px;
}


.pagediv{
    display: flex;
    justify-content: center;
}


table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


  .nederlands { 
    background-color: #ccffcc; 
}
  .engels { 
    background-color: #ffffcc; 
}
  .frans { 
    background-color: #ffcccc; 
}

.logo img{
    height: 100px;
}

.carousel-item{
    text-align: center;
}

.activiteiten{
    display: flex;
    justify-content: center;
    text-align: center;
}

.table-taal{
    margin-right: auto;
    margin-left: auto;
}

.soft {
    margin-top: 20px;
}

.hobbycarro img{
    border-radius: 15px;
}

.hobbycarro{
    color: rgba(255, 255, 255, 0);
}

.bigflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.divhobbycarro{
    max-width: 55%;
}

.hobbytime{
    max-width: 45%;
}

@media screen and (max-width: 1200px) {
    .bigflex{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .divhobbycarro{
        max-width: 100%;
    }
    .hobbytime{
        max-width: 100%;
    }
}

.hoh1{
    margin-top: 30px;
    margin-bottom: 30px;
}

.hoh2{
    margin-top: 30px;
    margin-bottom: 30px;
}
